<!doctype html>
<html>

<head>
    <title>angular controller</title>
    <link rel="stylesheet" href="../../css/sass/angular/table.css">
</head>

<body>
    <div ng-app="" ng-controller="customersController">
        <ul>
            <li ng-repeat="x in names">
                {{ x.Name + ', ' + x.Country }}
            </li>
        </ul>
        <!--   <table>
            <tr ng-repeat="x in names | orderBy:'Country'">
                <td>{{x.Name}}</td>
                <td>{{x.Country | uppercase}}</td>
            </tr>
        </table> -->
        <p>
            <button ng-disabled="mySwitch">点我！</button>
        </p>
        <p>
            <input type="checkbox" ng-model="mySwitch">按钮
        </p>
        <p ng-show="true">我是可见的。</p>
        <p ng-show="mySwitch">我是不可见的。</p>
        <button ng-click="count = count + 1">点我！</button>
        <p>{{ count }}</p>
    </div>
    <script type="text/javascript" src="../../lib/Angular.js"></script>
    <script type="text/javascript" src="../../js/angular/customersController.js"></script>
</body>

</html>
