<!doctype html>
<html>

<head>
    <title>angular controller</title>
</head>

<body>
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <button ng-click="toggle()">隐藏/显示</button>
        <p ng-hide="myVar">
            名:
            <input type="text" ng-model="person.firstName">
            <br> 姓:
            <input type="text" ng-model="person.lastName">
            <br>
            <br> 姓名: {{person.firstName + " " + person.lastName}}
        </p>
        <p>edc</p>
    </div> -->
    <div ng-app="myApp" ng-controller="formController">
        <form novalidate>
            First Name: <br>
            <input type="text" ng-model="user.firstName"><br>
            Last Name: <br>
            <input type="text" ng-model="user.lastName"><br>
            <br>
            <button ng-click="reset()">Reset</button>
            <p>form={{user}}</p>
            <p>master={{master}}</p>
        </form>
        
    </div>
    <script type="text/javascript" src="../../lib/Angular.js"></script>
    <script type="text/javascript" src="../../js/angular/myApp.js"></script>
    <script type="text/javascript" src="../../js/angular/myCtrl.js"></script>
    <script>
    // var app = angular.module("myApp", []);

    // app.controller("myCtrl", function($scope) {
    //     $scope.firstName = "John";
    //     $scope.lastName = "Doe";
    // });
    </script>
</body>

</html>
