<!doctype html>
<html>

<head>
    <title>angular controller</title>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <button ng-click="toggle()">隐藏/显示</button>
        <p ng-hide="myVar">
            名:
            <input type="text" ng-model="person.firstName">
            <br> 姓:
            <input type="text" ng-model="person.lastName">
            <br>
            <br> 姓名: {{person.firstName + " " + person.lastName}}
        </p>
        <p>edc</p>
    </div>
    <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
        <p>Username:
            <br>
            <input type="text" name="user" ng-model="user" required>
            <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
            <span ng-show="myForm.user.$error.required">Username is required.</span>
            </span>
        </p>
        <p>Email:
            <br>
            <input type="email" name="email" ng-model="email" required>
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
            <span ng-show="myForm.email.$error.required">Email is required.</span>
            <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </span>
        </p>
        <p>
            <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid">
        </p>
    </form>
    <script type="text/javascript" src="../../lib/Angular.js"></script>
    <script type="text/javascript" src="../../js/angular/myApp.js"></script>
    <script type="text/javascript" src="../../js/angular/myCtrl.js"></script>
    <script>
    // var app = angular.module("myApp", []);

    // app.controller("myCtrl", function($scope) {
    //     $scope.firstName = "John";
    //     $scope.lastName = "Doe";
    // });
    </script>
</body>

</html>
