<!doctype html>
<html>
    <head>
    	<title>angular demo</title>
    </head>
     <body>

    <!--  <div ng-app="s1" ng-init="firstname='john';quantity=5;cost=6">
        Your name: <input type="text" ng-model="yourname" placeholder="World">
        <hr>
        <p ng-bind="firstname"></p>	
        <p ng-bind="yourname"></p>
        <p>{{6+8}}</p>
        <p>{{yourname}}</p>
        <p>{{quantity*cost}}</p>
        <p ng-bind="quantity*cost"></p>
       </div> -->
       <!--  <div ng-app="" ng-init="person={name:'lee',age:200};points=[1,15,19,2,40]">
        	<p>{{person.name}}</p>
        	<p ng-bind="person.age"></p>
        	<p>{{points[2]}}</p>
        </div> -->
		<!-- <div ng-app="" ng-init="quantity=1;price=5">
			<h2>价格计算器</h2>
			数量： <input type="number" ng-model="quantity">
			价格： <input type="number" ng-model="price">
			<p><b>总价：</b> {{ quantity * price }}</p>
		</div> -->
		<!-- <div ng-app="" ng-init="names=['Jani','Hege','Kai']">
			<p>使用 ng-repeat 来循环数组</p>
			<ul>
				<li ng-repeat="x in names">
					{{ x }}
				</li>
			</ul>
		<div> -->
		<div ng-app="" ng-init="names=[
			{name:'Jani',country:'Norway'},
			{name:'Hege',country:'Sweden'},
			{name:'Kai',country:'Denmark'}]">
			<p>循环对象：</p>
			<ul>
				<li ng-repeat="x in names">
					{{ x.name + ', ' + x.country }}
				</li>
			</ul>
		</div>

		<script type="text/javascript" src="../../lib/Angular.js"></script>
    </body>
</html>