<!doctype html>
<html>

<head>
    <title>angular controller</title>
</head>

<body>
    <div ng-app="" ng-controller="personController">
        name:
        <input type="text" ng-model="person.firstName" />
        <br> name2:
        <input type="text" ng-model="person.lastName" />
        <br>
        <br> Full name: {{person.fullName()}}
        <br>
        <ul>
            <li ng-repeat="x in names | filter:name | orderBy:'country'">
                {{(x.name | uppercase) +' '+ x.country}}
            </li>
        </ul>
        <p>
            Upper name{{person.lastName | lowercase}}
        </p>
        <br>
        <p>
            All cost: {{(9*65)|currency}}
        </p>
        <button ng-click="toggle()">隐藏/显示</button>
        <p ng-hide="myVar">
            名:
            <input type="text" ng-model="person.firstName">
            <br> 姓:
            <input type="text" ng-model="person.lastName">
            <br>
            <br> 姓名: {{person.firstName + " " + person.lastName}}
        </p>
        <p>edc</p>
    </div>
    <script type="text/javascript" src="../../lib/Angular.js"></script>
    <script type="text/javascript" src="../../js/angular/personController.js"></script>
</body>

</html>
