$main-color: #ce4dd6;
$style: solid;
table,
tr,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table {
    tr:nth-child(odd) {
        background-color: #f1f1f1;
    }

    tr:nth-child(even) {
        background-color: #ffffff;
    }
}
